@import "../../styles.css";


.productName{
    background: none;
    position: absolute;
    height: auto;
    width: 100%;
    color: brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 67px;
    font-weight: bolder;
    top: 25%;
    margin: 0 auto;
    text-align: center;
}
.price{
    background: none;
    position: absolute;
    color: brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 47px;
    font-weight: bolder;
    margin: 0 auto;
    top: 40%;
    text-align: center;
    margin-top: 7%;
}

.stampa {
    position: absolute;
    height: 10%;
    width: 40%;
    bottom: 15%;
    left: 30%;
}